{
    "presets": [
        [
            "env",
            {
                "targets": {
                    "browsers": "> 1%"
                },
                "include": [
                    "transform-es2015-destructuring",
                    "transform-es2015-parameters"
                ]
            }
        ], "react"
    ],
    "plugins": [
        "syntax-dynamic-import",
        "syntax-object-rest-spread",
        "transform-class-properties", [
            "module-resolver", {
                "root": ["./src", "./server"]
            }
        ],

        ["react-css-modules", {
          "filetypes": {
            ".scss": {
              "syntax": "postcss-scss"
            }
          },
          "generateScopedName": "[name]__[local]---[hash:base64:5]"
        }]
    ],
    "env": {
        "test": {
            "plugins": ["dynamic-import-node"]
        }
    }
}
